---
const tituloPagina = "Meu Blog";
---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{tituloPagina}</title>

		<style>
			.navbar{
				display: flex;
				justify-content: flex-end;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<nav>
			<div class="navbar">
				<div>
					<a href="/">Início</a>
				</div>
				<div>
					<a href="/jobs/">Projectos</a>
				</div>
				<div>
					<a href="/blog/">Blog</a>
				</div>
			</div>
		</nav>
		<h1>Meu Site Astro</h1>
        <h1>Fim</h1>
		<p>
			No último sábado, dia 25 de Março fui pela primeira vez speaker de um evento do Maputo Frontenders, como jeito de despedida da posição de presidente, estive a falar de como foi liderar a comunidade durante o período de 1 ano. Dizer que foi uma experiência maravilhosa, onde pude ensinar e também aprender. Desenvolvi várias habilidades e juntamente com a team enfrentamos dificuldades, uma delas foi ter que realizar o primeiro evento presencial. Como é sabido, a comunidade actua de forma voluntária e sem valores monetários, realizar um evento sem recursos diria que é uma tarefa impossível.
		</p>
	</body>
</html>
