---
const tituloPagina = "Meus Projectos";

---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{tituloPagina}</title>
		<style>
			.habilidade {
				color: green;
				font-weight: bold;
			}
			.navbar{
				display: flex;
				justify-content: flex-end;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<nav>
			<div class="navbar">
				<div>
					<a href="/">Início</a>
				</div>
				<div>
					<a href="/jobs/">Projectos</a>
				</div>
				<div>
					<a href="/blog/">Blog</a>
				</div>
			</div>
		</nav>
      <h3> See my jobs</h3>
	  <a href="https://github.com/wakmaia/portfolio/tree/develop/src/pages"> Portfolio</a>
		

		
	</body>
</html>
