---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Início</a>
		<a href="/sobre/">Sobre</a>
        <a href="/blog/">Blog</a>
		<h1>Wak'Oleva Maia</h1>
        <p>Siga-me nas redes sociais: </p>
        <p> <a href="https://www.linkedin.com/in/wak-oleva-maia-4b68b7194/"> LinkedIn </a></p>
        <p> <a href="https://www.x.com/wakmaia"> Twitter </a></p>
	</body>
</html>
